.module-71 {
  margin: 50px 0;
  background: #fff; }
  .module-71 .form-message .title {
    margin-bottom: 30px; }
    .module-71 .form-message .title h2 {
      font-weight: 600;
      font-size: 30px; }
    .module-71 .form-message .title span {
      font-size: 15px;
      color: #757575; }
  .module-71 .form-message .form-content .your-inp {
    margin-bottom: 20px; }
    .module-71 .form-message .form-content .your-inp input {
      padding: 5px 0;
      border: 1px solid rgba(0, 0, 0, 0.1); }
  .module-71 .form-message .form-content .message textarea {
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .module-71 .form-message .form-content .btn-send {
    text-align: center;
    padding: 20px 0; }
    .module-71 .form-message .form-content .btn-send .btnS {
      display: inline-block;
      width: 160px;
      height: 40px;
      line-height: 40px;
      background: #3eaafd;
      text-decoration: none;
      border-radius: 25px;
      color: #fff;
      font-weight: 500; }
      .module-71 .form-message .form-content .btn-send .btnS:hover {
        opacity: 0.8;
        transition: 0.3s; }
