$mau-xam1: #dee2e6;
$mau-xanh1: #3eaafd;

.module-46{
	margin: 50px 0;
	
	.bd-care{
		border: 1px solid $mau-xam1;
		margin-bottom: 30px;
		.content-care{
			padding: 30px;
			display: table;

			.logo-inner{
				display: table-cell;
				img{
				    vertical-align: top;
				}
			}
			.content-inner{
				display: table-cell;
				padding-left: 20px;
				
				.type-time{
					color: $mau-xanh1;
					font-size: 13px;
					font-weight: 500;
					display: inline-block;
				}

				.title{
					margin-bottom: 10px;
					a{
						text-decoration: none;
						color: #000;
						font-size: 19px;
						font-weight: 500;
						&:hover{
							color: $mau-xanh1;
							transition: 0.35s;
						}
					}
				}
				.list-inf{
					ul{
						list-style: none;
						margin: 0;
						padding: 0;
						li{
							i{
    							font-size: 14px;
    							color: #febf01;
    							width: 20px;
							}
						}
					}
				}
			}
		}
	}
}