$mau-xam1: #757575;
$mau-xanhduong1: #3eaafd;
$mau-xanhduong2: #0c94fc;

.module-13{
	margin: 50px 0;
	
	.bg-md13{
		background: #f5f7fa;
		padding: 60px 0;
		.main-content{
			text-align: center;

			.title{
				font-size: 30px;
				font-weight: 600;
			}

			.content{
				color: $mau-xam1;
			}

			.btn{
				background: $mau-xanhduong1;
				color: #fff;
				font-weight: 500;
				padding: 10px 20px;
				&:hover{
					background: $mau-xanhduong2;
				}
			}
		}
	}
}